html
	head
		title welcome
		script(src='javascripts/main.js')
		link(rel='stylesheet', href='stylesheets/style.css')
	body 
		#content
			p WELCOME
			#smile
			p #{message}
			img(src='images/help.jpg')
